/*
 * -------------------------------------------------
 *  Nextflow config file for module specific-options
 * -------------------------------------------------
 */

params {
    modules {
// GSUTIL
        'gs_util_gz_to_fastq' {
            args             = "-u red-parity-291114 "
            publish_files    = false
        }
// OTHERS
        'get_software_versions' {
            publish_dir      = "pipeline_info"
        }
    }
}
